<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="align-items-center pb-3 mb-5 border-bottom">
    <div><p class="fs-4"><%= @accommodation.name %></p></div>
    <div><span><%= @accommodation.city %>, <%= @accommodation.country %></span></div>
  </header>
  <main>
    <% if @accommodation.images.exists? %>
      <div>
        <%= image_tag(@accommodation.images.first) %>
      </div>
    <% end %>
    <p>Owner: <%= @accommodation.user_username %></p>
    <div>
      <span><%= pluralize(@accommodation.person_count, t('.guest_signular_form')) %></span>
      <span>|</span>
      <span><%= pluralize(@accommodation.bed_count, t('.bed_singular_form')) %></span>
    </div>
    <p class="fs-5 col-md-8"><%= @accommodation.description %></p>
    <hr class="col-3 col-md-2 mb-5">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-dark"><%= "#{@accommodation.nearest_rental_price} #{t('.per_night')}" %></strong>
            <div class="mb-1 text-muted"><%= "#{t('.check-in')}: #{@accommodation.nearest_start_date}" %></div>
            <div class="mb-1 text-muted"><%= "#{t('.check-out')}: #{@accommodation.nearest_end_date}" %></div>
            <%= form_for([@accommodation.nearest_rental_offer, @booking]) do |f| %>
              <%= f.submit(t('.book'), class: 'w-100 btn btn-primary') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
